* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }


body {
  width: 100%;
  min-height: 100vh;
  font-family: "Khand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("images/keon.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-color: rgb(211, 202, 202);
  background-repeat: no-repeat;
 
}

.container {
  text-align: center;
}

.navbar {
  background-color: rgb(97, 85, 204);
  height: 70px;
  color: #fff;
}

.navbar .name {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  background: #4eaeee;
}

ul {
  list-style-type: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar a:hover {
  color: blue;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: column-wrap;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar ul li {
  margin-left: 20px;
}

.small-section {
  background-color: #2727b8;

  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.5rem;
}

.small-section span {
  writing-mode: vertical-lr;
  padding-top: 30px;
}

.small-section .container {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


h1 {
 
  align-self: center;
}

h3{

font-size: 2em;
font-weight: bold;
color: #fff;
}

.block header {
  padding: 10px;
  background: #4eaeee;
}

.block1 header {
  padding: 10px;
  background: #4eaeee;
}



.hero  {
display: grid;
grid-template-columns:repeat(4, 1fr);
gap: 1.5rem;
}
 


.about-me {
  line-height: 1.5;
  align-content:center ;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #447dc8;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 0;

  grid-column-start: 3;
  grid-column-end: span 2;
  
}

.about-me p {
  text-align: justify;
  padding-right: 30px;
}



h2 {
font-size: 30px;
font-weight: bold;
position: relative;
border-right: 3px solid #447dc8;
right: 210px;
text-transform:uppercase;
writing-mode:vertical-rl;
}



.my-work {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  grid-column-start: 3;
  grid-column-end: span 2;
  
}

.my-work .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#blocks {
box-sizing: border-box;
padding: 0;
margin: 0;
grid-column-start: 1;
grid-column-end: 3;
}



.block1 {
  height: 200px;
  background-color: black;
  border: black solid 3px;
  
  }

.small-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.block {
  width: 260px;
  height: 130px;
  background-color: black;
  border: black solid 3px;
}

.contact-me .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  color: #fff;
}

.contact-me .container ul {
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
font-weight: bold;
}

.contact-me  ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 20px;
  
}


@media only screen and (max-width:1000px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: minmax(1fr, auto);
    grid-gap: 1rem;
    width: 100%;
  }

  @media only screen and (max-width:700px) {
    .hero {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-columns: minmax(1fr, auto);
      flex-grow: 2;
      width: 100%;
    }


  @media screen and (max-width: 650px) {
    .navbar  {
      float: none;
      width: 100%;
      height: 150px;
     
    }
   
  @media screen and (max-width: 1000px) {
      .hero h2{
       position: inherit; 
       font-size: 18px;
       writing-mode: initial;
        
       }


    @media screen and (max-width:950px) {
      .hero h2{
       direction: relative; 
       font-size: 18px;
       text-align: left;
       writing-mode: initial;
       border-right: 0;
       } 


       @media screen and (max-width: 700px) {
        .block1 {
        margin-bottom: 5px;

        }

       @media screen and (max-width: 1000px) {
       .contact-me h2{
        direction: relative; 
        font-size: 18px;
        top: 50px;
        border-right: 0;
        margin-right: 20px;
        margin-bottom: 20px;
       }



       @media screen and (max-width:950px) {
        .about-me h2 {
          direction: relative; 
          font-size: 18px;
          text-align: top;
          writing-mode: vertical-lr;
          border-right: 0;
         }
        }

    

